<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pet Fax - {{ pet.pet_name }}</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <div id="details">
            <h2>{{ pet.pet_name }}</h2>
            <img src="{{ pet.pet_photo }}" alt="Photo of: {{ pet.pet_name }}" style="display: block;" />
            <h3>{{ pet.pet_fact }}</h3>
        </div>
        <a href="/pets/"><- Go Back</a>
    </body>
</html>