<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PetFax - Submit new Fax!</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h2>Have a fact that you want to share with us?</h2>
        <form action="/facts/" method="post">
            <div class="form-group">
                <label for="user">Name:</label>
                <input type="text" name="user" id="userText">
            </div>
            <div class="form-group">
                <label for="fact">Cool Pet Fact:</label><br/>
                <textarea name="fact" id="textFactArea" cols="30" rows="10"></textarea>
            </div>
            <input type="submit" value="Submit" />
        </form>
    </body>
</html>